# =================== ENVIRONMENT SETTINGS ===================
PORT=5020
NODE_ENV=development                            # development | production
FRONTEND_URL=http://localhost:3000
APP_BASE_URL=http://192.168.1.54:8080

# =================== CORS CONFIGURATION ======================
ALLOWED_ORIGINS=http://localhost:3000
CORS_ENABLED=true

# =================== DATABASE CONFIG =========================
DB_NAME=glaztech
DB_URL=mongodb+srv://wayonegpt_db_user:hJ1TqZxYpMMM5tr6@rota.qdm23n1.mongodb.net

# =================== AUTH & JWT CONFIG =======================
JWT_SECRET=b6fß4d94c98e7a4b1cdd6b169e491e7d3a79e6fc80c45aeeb3d735e05b7ee8b7c
JWT_EXPIRES_IN=7d
# JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=f9c66c11ab876de9415e4fc930c81351a7e40fd23b5a2041e2d6b82706de7034
REFRESH_EXPIRES_IN=7d

# =================== EMAIL SERVICE ==========================
EMAIL_HOST=mail.wayone.co.in
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=dev-testing@wayone.co.in
EMAIL_PASSWORD=dev-testing@wayone.co.in

# =================== AWS S3 STORAGE =========================
S3_ENABLED=true
S3_REGION=us-west
S3_BUCKET=desimiles
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=Sahib@7yio
S3_BASE_URL=https://miniios3.aaademosites.com

# =================== SECURITY SETTINGS ======================
CORS_ENABLED=true
RATE_LIMIT_MAX=100                                # Requests per window
RATE_LIMIT_ENABLED=true
BLOCKED_IPS=192.168.0.112
RATE_LIMIT_WINDOW_MS=60000                        # In ms, e.g. 60000 = 1 minute
# BLOCKED_IPS=127.0.0.1

# ======================== DEFAULT ADMIN ======================
MAX_AGE=7
INIT_ADMIN=true
ADMIN_NAME=Admin
ADMIN_PASSWORD=glaztech
ADMIN_EMAIL=info@glaztech.com